// Main Colors
$color_primary:   red;
$color_secondary: green;
$color_accent:    blue;


// Secondary Accent Colors
$color_accent_1: orange;
$color_accent_2: yellow;
$color_accent_3: purple;


// Font Families
$font_family_serif:    'Times New Roman', serif;
$font_family_sans:     'Arial', sans-serif;
$font_family_headings: 'Museo', serif;

// Typography (Base Font Size)
$font_size_base:   16px;
$font_size_mobile: 14px;

// Typography (Perfect Fourth)
$font_size_small: ( $font_size_base*0.750 );
$font_size_h1:    ( $font_size_base*3.157 );
$font_size_h2:    ( $font_size_base*2.369 );
$font_size_h3:    ( $font_size_base*1.770 );
$font_size_h4:    ( $font_size_base*1.333 );
$font_size_h5:    ( $font_size_base*1.000 );

small { font-size: $font_size_small; }
h1    { font-size: $font_size_h1; }
h2    { font-size: $font_size_h2; }
h3    { font-size: $font_size_h3; }
h4    { font-size: $font_size_h4; }
h5    { font-size: $font_size_h5; }

// Typography ( Responsive )
@media screen and ( max-width: 568px ) {
	$font_size_small_m: ( $font_size_mobile*0.750 );
	$font_size_h1_m:    ( $font_size_mobile*3.157 );
	$font_size_h2_m:    ( $font_size_mobile*2.369 );
	$font_size_h3_m:    ( $font_size_mobile*1.770 );
	$font_size_h4_m:    ( $font_size_mobile*1.333 );
	$font_size_h5_m:    ( $font_size_mobile*1.000 );

	small { font-size: $font_size_small_m; }
	h1    { font-size: $font_size_h1_m; }
	h2    { font-size: $font_size_h2_m; }
	h3    { font-size: $font_size_h3_m; }
	h4    { font-size: $font_size_h4_m; }
	h5    { font-size: $font_size_h5_m; }
}

// Typography ( Line Height and Margins )
p { 
	margin-bottom: 1.3em; 
	line-height:   1.45;
}

h1, h2, h3, h4 {
	margin:      1.414em 0 .5em;
	line-height: 1.2;
}

h1 { margin-top: 0; }


// Layout 
$gutter: ( $font_size_base*2.00 );